<html>
    <head>
        <title>Garnet : Minimalist dynamic website with pure Ruby</title>
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
    </head>
    <body>
        <div id="content">
            <h1>Hello, I'm a layout!</h1>
            <%= content %>
        </div>
    </body>
</html>
